*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  cursive ;

}
body{
    margin: 0;
    place-items: center;
    height: 100vh;
    display: grid;
    background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

}
.pree{
    box-shadow: 0 0 20px 2px rgb(150, 149, 149);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 150px;
    width: 250px;
    display: flex;
    box-shadow: 0 0 20px 2px rgb(150, 149, 149);
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-flow: column;
  }
  main::after {
    position: absolute;
    content: 'PASSWORD';
    font-weight: bold;
    font-size: 25px;
    transform: translateY(-55px);
    color: rgb(9, 137, 35);
  }

  .inputdiv {
    height: 29px;
    width: 90%;
    border-radius: 3px;
    background-color: white;
    display: flex;
    outline: 2px solid rgba(155, 153, 153, 0.566);
    justify-content: start;
    align-items: center;
  }
  .inputpass {
    height: 30px;
    width: 75%;
    outline: none;
    border: none;
    margin-left: 10px;
    background-color: transparent;
  }
  .previewpass {
    position: absolute;
    transform: translateX(90px) translateY(-17px);
    height: 20px;
    width: 20px;
    display: grid;
    place-content: center;
  }
  .bar {
    background-color: rgb(0, 0, 0);
    width: 80%;
    height: 7px;
    border-radius: 40px;
    transform: translateY(4px);
  }
  .bar .strenght {
    height: 100%;
    background-color: rgb(147, 147, 147);
    width: 0%;
    border-radius: 40px;
  }
  .passstrenght-text {
    height: 20px;
    width: 90%;
    text-align: center;
    transform: translateY(15px);
    font-size: 13px;
    text-shadow: 1px 2px 3px rgb(176, 174, 174);
  }

.circle{
  position: absolute;
  transform: translate(-50%,-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border:2px solid  #303346;
  transition:transform .25s;

}
.circle.active{
  transform: translate(-50%,-50%) scale(.5);
} 
